

.grandcru-section {
  margin: 0px 0 25px;
}

.grandcru-content {
    color: rgba(255, 255, 255, 0.7);
    font-family: avenir;
    max-width: 520px;
    width: 100%;
    text-align: center;
    margin: 16px auto 0;
}
.search-icon-input{
  position: absolute;
  left: 16px;
  top: 14px;
}

